@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Work+Sans&display=swap');

html {
  scroll-behavior: smooth;
}

body {
    height: 100%;
    background-color: #AE759F;
    margin: 2;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#bot {
  place-items: center;
  display: grid;
  align-content: center;
  overflow-x: hidden;
}

.chat-container {
    max-width: 500px;
    height: 100vh;
    max-height: 500px; 
    overflow-x: hidden;
    margin-top: 35px;
    background: #D4CDF4;
    border: 5px solid #55286F;
    border-radius: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 35px;
}

@media screen and (max-width: 600px) {
    .chat-container {
        position: relative;
        margin-right: auto;
        margin-left: auto;
        overflow: hidden;
        width: 100%;
        max-height: 80%;
    }
}

.chat-title {
    position: relative;
    text-align: left;
    border-bottom: 5px solid #55286F; 
    height: 40px;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    color: #55286F;
}

.messages {
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.messages-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 101%;
    width: 100%;
}

.messages-box {
    width: auto;
    background: rgba(0, 0, 0, 0.3);
    padding: 5px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    border-top: 5px solid #55286F;
}

.message-submit {
    border: 3px solid #55286F;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    transition: .2s ease-in-out;
    margin: 5px;
    border-bottom-right-radius: 15px;
}

.message-submit:hover {
    border-radius: 15px;
    cursor: pointer;
}

.message-submit:active {
  background: #D8B4E2;
}

.message-input {
    border: 3px solid #55286F;
    border-bottom-left-radius: 15px;
    margin: 5px;
    width: 400px;
    font-family: 'Work Sans', sans-serif;
}


.sidebar {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #111;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }

  .sticky {
    position: fixed !important;
    top: 5px;
  } 
  
  .openbtn:hover {
    background-color: #444;
  }
  
  
  #main {
    transition: margin-left .5s; 
    padding: 20px;
  }
  
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  footer {
    text-align: center;
    margin-top: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #D4CDF4;
    font-family: 'Work Sans', sans-serif;
}

.fa {
  color: #D4CDF4;
}

.fa:active {
  color: #55286F;
}

.githubbtn {
    background-color: transparent;
    border: none;
    font-size: 20px;
    transition: .3s;
}

.githubbtn:hover {
  animation: pulse 1s infinite;
  transition: .3s;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(.9);
  }
    100% {
    transform: scale(1);
  }
}


* {box-sizing:border-box}

.slideshow-container {
  max-width: 250px;
  max-height: 400px;
  position: relative;
  margin: auto;
  padding-top: 50px;
}

.mySlides  {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: black;
  font-size: 18px;
  padding: 2px;
  position: absolute;
  top: -5px;
  width: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#hall_shame .text{
  color: white;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#hall_fame {
  background-color: #e8dbc5;
  margin-top: 100px; 
  padding: 0 0 100px 0;
  margin-bottom: none;
}

#hall_fame h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
  color: black;
  padding-top: 40px;
  text-align: center;
  font-family: "Limelight", sans-serif;
}

#hall_fame h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  color: black;
  text-align: center;
}

#hall_shame {
  background-color: black;
  margin-top: -33px;
  padding: 0 0 100px 0;
}

#hall_shame h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
  color: white;
  padding-top: 40px;
  text-align: center;
  font-family: "Limelight", sans-serif;
}

#hall_shame h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  color: white;
  text-align: center;
}

#about {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.about_intro {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: black;
  text-align: center;
}

.about_text {
  font-family: 'Work Sans', sans-serif;
  font-size: 13px;
  color: black;
  text-align: center;
}
  