@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Work+Sans&display=swap');

html {
  scroll-behavior: smooth;
}

body {
    height: 100%;
    background-color: #E0B1CB;
    margin: 2;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#bot {
  place-items: center;
  display: grid;
  align-content: center;
  overflow-x: hidden;
}

.chat-container {
    max-width: 500px;
    height: 100vh;
    max-height: 500px; 
    overflow-x: hidden;
    margin-top: 35px;
    background: #feeafa;
    border: 4px solid #51355A;
    border-radius: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 35px;
    box-shadow:#E0B1CB 10px -10px 0px -3px, #724983 10px -10px, #E0B1CB 20px -20px 0px -3px, #AF4680 20px -20px, #E0B1CB 30px -30px 0px -3px, #CB7CA7 30px -30px, #E0B1CB 40px -40px 0px -3px;
}

@media screen and (max-width: 600px) {
    .chat-container {
        position: relative;
        margin-right: 30px;
        margin-left: auto;
        overflow: hidden;
        max-width: 90%;
        max-height: 60%;
    }
}

.chat-title {
    position: relative;
    text-align: left;
    border-bottom: 4px solid #51355A; 
    height: 40px;
    background: #9F86C0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    color: #FBFFF1;
    text-shadow: -1px -1px 0 #3A2640, 1px -1px 0 #3A2640, -1px 1px 0 #3A2640, 1px 1px 0 #3A2640,
                  4px 2px 0 #51355A;
    
}

.messages {
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.messages-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 101%;
    width: 100%;
}

.messages-box {
    width: auto;
    background: #9F86C0;
    padding: 5px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    border-top: 4px solid #51355A;
}

.message-submit {
    border: 3px solid #51355A;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    transition: .2s ease-in-out;
    background: #feeafa;
    margin: 5px;
    border-bottom-right-radius: 15px;
}

.message-submit:hover {
    border-radius: 15px;
    cursor: pointer;
}

.message-submit:active {
  background: #D8B4E2;
}

.message-input {
    border: 3px solid #51355A;
    border-bottom-left-radius: 15px;
    margin: 5px;
    width: 400px;
    font-family: 'Work Sans', sans-serif;
    background: #feeafa;
}


.sidebar {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #51355A;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 25px;
    color: #FBFFF1;
    display: block;
    transition: 0.3s;
  }
  
  
  .sidebar a:hover {
    color: #D8B4E2;
  }
  
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #51355A;
    color: #FBFFF1;
    padding: 10px 15px;
    border: 3px solid #3A2640;
  }

  .sticky {
    position: fixed !important;
    top: 5px;
  } 
  
  .openbtn:hover {
    background-color: #9F86C0;
  }
  
  
  #main {
    transition: margin-left .5s; 
    padding: 20px;
  }
  
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  footer {
    text-align: center;
    margin-top: auto;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #3A2640;
    font-family: 'Work Sans', sans-serif;
}

.fa {
  color: #D4CDF4;
}

.fa:active {
  color: #55286F;
}

.githubbtn {
    background-color: #51355A;
    border: none;
    font-size: 20px;
    width: 29px;
    height: 25px;
    border-radius: 50%;
    transition: .3s;
}

.githubbtn:hover {
  animation: pulse 1s infinite;
  transition: .3s;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(.9);
  }
    100% {
    transform: scale(1);
  }
}


* {box-sizing:border-box}

.slideshow-container {
  max-width: 250px;
  position: relative;
  margin: auto;
  padding-top: 50px;
}

.slideshow-container img {
  height: 400px;
}

.mySlides  {
  display: none;
}


.text {
  color: #3A2640;
  font-size: 18px;
  padding: 2px;
  position: absolute;
  top: -5px;
  width: 100%;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}

#hall_shame .text{
  color: white;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#hall_fame {
  background-color: #feeafa;
  border: 4px solid #51355A;
  border-radius: 10%;
  margin-top: 100px; 
  padding: 0 0 100px 0;
  max-width: 80%;
  box-shadow:#E0B1CB 10px -10px 0px -3px, #724983 10px -10px, #E0B1CB 20px -20px 0px -3px, #AF4680 20px -20px, #E0B1CB 30px -30px 0px -3px, #CB7CA7 30px -30px, #E0B1CB 40px -40px 0px -3px;
}

#hall_fame h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  color: #FBFFF1;
  padding-top: 40px;
  text-align: center;
}

#hall_fame h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
  color: #3A2640;
  text-align: center;
}

#hall_shame {
  background-color: #51355A;
  border: 4px solid #3A2640;
  border-radius: 10%;
  padding: 0 0 100px 0;
  max-width: 80%;
  margin-top: 100px;
  margin-left: 250px;
  box-shadow:#E0B1CB 10px -10px 0px -3px, #724983 10px -10px, #E0B1CB 20px -20px 0px -3px, #AF4680 20px -20px, #E0B1CB 30px -30px 0px -3px, #CB7CA7 30px -30px, #E0B1CB 40px -40px 0px -3px;
}

#hall_shame h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  letter-spacing: 2px;
  color: #3A2640;
    text-shadow: -1px -1px 0 #FBFFF1, 1px -1px 0 #FBFFF1, -1px 1px 0 #FBFFF1, 1px 1px 0 #FBFFF1,
                  4px 2px 0 #FBFFF1;
  padding-top: 40px;
  text-align: center;
}

#hall_shame h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
  color: #FBFFF1;
  text-align: center;
}

#about {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 50px;
  margin-bottom: 50px;
}

.about_intro {
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  color: #FBFFF1;
  display: flex;
  justify-content:end;
  align-items: center;
  margin-left: 120px;
}

.about_text {
  font-family: 'Work Sans', sans-serif;
  font-size: 13px;
  color: #3A2640;
  text-align: center;
  padding: 40px;
  border: 4px solid #51355A;
  border-radius: 10%;
  max-width: 60%;
  background: #feeafa;
  box-shadow:#E0B1CB 10px -10px 0px -3px, #724983 10px -10px, #E0B1CB 20px -20px 0px -3px, #AF4680 20px -20px, #E0B1CB 30px -30px 0px -3px, #CB7CA7 30px -30px, #E0B1CB 40px -40px 0px -3px;

}
 
#centralized, #centralized1 {
  text-align: center;
}

#centralized {
  font-size: 25px;
  border: 4px solid #51355A;
  border-radius: 5% / 70%;
  background: #9F86C0;
}

@media screen and (max-width: 1050px) {
  #about {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    }

  .about_intro {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .about_text {
    border-radius: 30px;
  }
  .slideshow-container {
    max-width: 200px; 
    position: relative;
    margin: auto;
    padding-top: 50px;
  }
  .slideshow-container img{
    height: 300px;
  }
}

@media screen and (max-width: 600px) {
  .about_intro {
    font-size: 40px;
  }
  #centralized {
    font-size: 18px;
    border-radius: 10% / 50%;
  }
  #about {
    padding: 0%;
    margin-right: 0%;
    margin-left: 0%;
  }
  .about_text {
    max-width: 100%;
    font-size: 11px;
    border-radius: 30px;
    margin-right: 30px;
  }
  .slideshow-container {
    max-width: 150px; 
    position: relative;
    margin: auto;
    padding-top: 70px;
  }
  .slideshow-container img{
    height: 250px;
  }
  #hall_fame {
    max-width: 90%;
  }
  #hall_fame h1 {
    font-size: 35px;
  }
  #hall_fame h2 {
    font-size: 18px;
    letter-spacing: 0;
  }
}